.main-time {
  height: 100%;
  color: var(--text-dark);
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 15px;
}

@media (max-width: 1600px) {
  .main-time {
    font-size: 14px;
    margin-right: 15px;
  }
}
