.main-users {
  .actions {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 0 10px 0;

    .btn-create {
      border: none;
      height: 35px;
      padding: 0 10px;
      border-radius: 10px;
      font-weight: 700;
      background-color: var(--concierge-1);
      color: var(--text-light);
      letter-spacing: 1px;
    }
  }

  .actions-user {
    display: flex;
    gap: 5px;

    .icon {
      cursor: pointer;
    }
  }

  .table-users {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
  }
}
